@charset "UTF-8";

/* Reset e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: justify;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Estilização de Títulos */
h1 {
    color: darkblue;
    text-shadow: 3px 3px 3px rgb(26, 97, 121);
    text-align: center;
    padding: 10px;
}

/* Imagem padrão: modo paisagem (desktops, tablets e celulares deitados) */
body {
    background-image: url('cev-landscape.jpg');
}

/* Para modo retrato: desktops, tablets e celulares em pé */
@media screen and (orientation: portrait) {
    body {
        background-image: url('cev-portrait.jpg');
        background-position: center bottom;
    }
}
